<!DOCTYPE html>
<html>

<head>
    <title>App</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-gray-50 dark:bg-gray-700">
    <div class="relative overflow-x-auto">
        <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                <th scope="col" class="px-6 py-3">번호</th>
                <th scope="col" class="px-6 py-3">이름</th>
                <th scope="col" class="px-6 py-3">예약일자</th>
                <th scope="col" class="px-6 py-3">신청일자</th>
                <th scope="col" class="px-6 py-3">상태</th>
            </thead>
            <tbody>
                {{#each data}}
                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                    <td class="px-6 py-4">{{no}}</td>
                    <td scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        {{ name }}
                    </td>
                    <td class="px-6 py-4">{{date}}</td>
                    <td class="px-6 py-4">{{apply}}</td>
                    <td class="px-6 py-4">{{status}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>

</body>

</html>